@charset "utf-8";
@import '_mixin.scss';
// @import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


@include mobile{
    //header
    body.active{
        overflow:hidden;
    }
    body.active::after{
        content:'';
        width:100%; height:100%;
        background:rgba(0,0,0,0.6);
        position:fixed; left:0; top:0;
        z-index:1;
    }
    header.active{background:#fff;}    
    header.none  {display:none;}
    header{
        width: 100%; height: 8.5vh;
        position: fixed; top: 0;
        z-index: 3;
        transition: 1s;
         
        .header_div{
            padding: 2% 5%; 
            transition: 1s;
            position: relative;
            @include flex(space-between,center,row);
            h2{ 
                position: relative;
                display: inline-block;
                z-index: 3;
                width: 14%;
                font-size: 0rem; 
                img{ width: 100%}
            }
            nav{display: none;} //nav end
            
            .side{
               @include flex(space-between,center,row);
                z-index: 3;
                width: 31%;
                flex-shrink: 0;
                .select{
                    display: block; 
                    margin-right: 33%;
                    @include flex(flex-start,flex-start,row);
                    width: 20%;  
                    position: static;
                    p{display: none;}
                    ul{
                        @include flex(flex-start,flex-start,row);
                        position: static;
                        width: 100%;
                        transform: translateY(0);
                        
                        li{ 
                            display: block;
                            padding: 15% 14%;
                            background: transparent;
                            a{
                                display: block;
                                width: 100%;
                                color: white;
                                font-size: 1rem;
                            }
                        }
                    }//ul end
                }//select end
                .search{
                    margin: 0 12%;
                    display: inline-block;
                    position: relative;
                    width: 22px;
                    a{
                        display: block;
                        width: 100%;
                        img{
                            width: 100%;
                            opacity:1;
                            transition: .5s;
                        }
                        img:nth-of-type(2){
                            @include absol(top,0,left,0);
                        }
                        
                        img.disapr{
                            opacity: 0;
                            transition: .5s
                        }
                    }
                    
                }
                .trigger {
                    display: inline-block;
                    a{
                        display: block; 
                        width: 24px;
                        height: 22px;
                        @include flex(space-between,center,column);

                        span{
                            display: block;
                            width: 100%;
                            background: $maincolor;
                            height: 2px;
                            transition: .5s;
                        }
                        span:nth-of-type(1).active {
                            width: 31px;
                            transform: translateY(10px) rotate(-45deg);
                        }
                          
                        span:nth-of-type(2).active {
                            opacity: 0;
                        }
                          
                        span:nth-of-type(3).active {
                            width: 31px;
                            transform: translateY(-10px) rotate(45deg);
                        }
                    }
                    
                }
            }
        }  //header_div
        
        .con_srch{   //메뉴 검색
            @include submenu_bg;
            @include flex(space-evenly, center,column);
            padding: 2% 0;
            div{
                width: 60%;
                padding: 2% 0;
                &.box_srch{
                    width: 91%;
                    background: $maincolor;
                    border-radius: 30px;
                    text-align: center;
                    position: relative;
                    padding: 0.5% 0;
                    input{
                        width: 83%; padding: 0.5% 0%;
                        border: none;
                        background: none;
                        color: #fff;
                        font-size: 1.5rem;;
                    }
                    input:focus{outline: none;}
                    button{
                        background: none;
                        @include absol(top,50%,right,0);
                        transform: translate(-100%,-50%);
                    }
                }
    
                &.recent_srch{display: none;}
                &.best_srch{
                    width: 89%;
                    @include flex(space-between, flex-start, row);
                    p {font-size:1.2rem;}
                    ul{
                        width: 85%;
                        @include flex(flex-start,center,row);
                        flex-wrap: wrap;
                        flex-shrink: 0;
                        li{
                           font-weight: 300;
                           width: 30%;
                           margin: 1% 0;
                            span{
                                display: inline-block;
                                margin: 0;
                                font-weight: 300;
                                width: 30px; height: 30px;
                                background: #e4afab;
                                border-radius: 30px;
                                text-align: center;
                            }
                            a{
                                display: inline-block;
                                padding-left: 3%; 
                            }
                        }  
                    }
                }
            } //div end
        }// con_srch end
        .con_srch.none{display: none}
        .tri_menu{ //trigger
            @include submenu_bg;
            display: block;
            flex-shrink: 0;
            z-index : 2;
            position: static;
            width: 100%;
            height: 90vh;
            padding: 5% 5%;
            overflow:auto;
            p{
                height: 10vh;
                font-size: 1.5rem;
                padding: 4% 0 ;
                position: relative;
                border-bottom: 1px solid #efeded;
                a{
                    display: block;
                    width: 100%;
                }
            }
            p:#{$type}(2){margin:0;}
            p:#{$type}(3){position: relative;}
            
            p:#{$type}(6)::before{}
            ul{
                background: #f7f7f7;
                margin: 0;
                li{padding: 2% 0;}
            }
            div:#{$type}(1){  //어퓨브랜드 어퓨룩 베스트
                div{  //베스트
                    p{position: relative;}
                    p::after{
                        content: '';
                        display: block;
                        width:25px; height: 25px;
                        border-right: 2px solid #c5c1bf;
                        border-bottom: 2px solid #c5c1bf;
                        @include absol(right,5%,top,50%);
                        transform: translateY(-60%)  rotate(45deg);
                    }
                    p.on::after{
                        content: '';
                        display: block;
                        width:25px; height: 25px;
                        border-right: 2px solid #6d635f;
                        border-bottom: 2px solid #6d635f;
                        @include absol(right,5%,top,50%);
                        transform: translateY(-40%)  rotate(225deg);
                    }
                    ul{
                        height:0vh; overflow: hidden;
                        transition: .5s;
                    }
                    ul.active{height: 12vh;}
                }

            }
            @for $j from 2 to 4{
                div:nth-of-type(#{$j}){
                    font-size: 0;
                    width: 100%;
                    position: relative;
                    ul{
                        background: #f7f7f7;
                        display: inline-block;
                        width: 50%;
                        padding: 0;
                        &:nth-of-type(2){
                            @include absol(right,0,top,10vh);
                        }
                        li{

                            font-size: 1rem;
                            padding: 0 0 0 3%;
                            a{}
                        }
                                       
                        li:#{$type}(1){
                            padding-top: 3%;
                            padding-left: 0;
                            color: $subcolor;
                        }
            
                       @for $i from 2 to 11 {
                            li:nth-of-type(#{$i}){
                                padding: 6% 6% 2% 14%;
                                position: relative;
                                img{  
                                    width: 12%;
                                    @include absol(bottom,0,left,0);
                                    transform: translateY(-25%);
                                } 
                            }
                        }
                    } 
                }//div nth of type end
            }//for end
           > div:#{$type}(2){  //시선고정치트키
                p{position: relative;}
                p::after{
                    content: '';
                    display: block;
                    width:25px; height: 25px;
                    border-right: 2px solid #c5c1bf;
                    border-bottom: 2px solid #c5c1bf;
                    @include absol(right,5%,top,50%);
                    transform: translateY(-60%)  rotate(45deg);
                }
                p.on::after{
                    content: '';
                    display: block;
                    width:25px; height: 25px;
                    border-right: 2px solid #6d635f;
                    border-bottom: 2px solid #6d635f;
                    @include absol(right,5%,top,50%);
                    transform: translateY(-40%)  rotate(225deg);
                }
                p::before{
                    display: none;
                    content: url('../img/index/menu_stick1.png');
                    @include absol(top,0,left,0);
                    transform: translateY(-11%);   
                }
                ul{
                    height: 0vh;overflow: hidden;
                    transition: .5s;
                }
                ul.active{height: 49vh;}

            }
            > div:#{$type}(3){
                p{position: relative;}
                p::after{
                    content: '';
                    display: block;
                    width:25px; height: 25px;
                    border-right: 2px solid #c5c1bf;
                    border-bottom: 2px solid #c5c1bf;
                    @include absol(right,5%,top,50%);
                    transform: translateY(-60%)  rotate(45deg);
                }
                p.on::after{
                    content: '';
                    display: block;
                    width:25px; height: 25px;
                    border-right: 2px solid #6d635f;
                    border-bottom: 2px solid #6d635f;
                    @include absol(right,5%,top,50%);
                    transform: translateY(-40%)  rotate(225deg);
                }
                p::before{
                    display: none;
                    content: url('../img/index/menu_stick2.png');
                    @include absol(top,0,left,0);
                    transform: translateY(-11%);   
                }
                ul{
                    height: 0vh;overflow: hidden;
                    transition: .5s;
                }
                ul.active{
                    height: 66vh;
                }
            }
            > div:#{$type}(4){
                p{position: relative;}
                p::after{
                    content: '';
                    display: block;
                    width:25px; height: 25px;
                    border-right: 2px solid #c5c1bf;
                    border-bottom: 2px solid #c5c1bf;
                    @include absol(right,5%,top,50%);
                    transform: translateY(-60%)  rotate(45deg);
                }
                p.on::after{
                    content: '';
                    display: block;
                    width:25px; height: 25px;
                    border-right: 2px solid #6d635f;
                    border-bottom: 2px solid #6d635f;
                    @include absol(right,5%,top,50%);
                    transform: translateY(-40%)  rotate(225deg);
                }
                ul{
                    height: 0vh;overflow: hidden;
                    transition: .5s;
                }
                ul.active{height: 18vh;}
            }
            
        }//tri_menu end
        .tri_menu.none{display: none;}
    
    } //header end
    


//top btn
.roll_top{display: none;}

footer{
    .foot_1st{
        position: relative;
        display: block;
        padding: 1.5% 4%;
        &>a {
            width: 21%;
            padding: 2% 0;
            display: block;
            
            img{width: 81%;}
        }
        .foot_menu{
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #dadada;
            width: 100%;
            text-align: center;
            padding:2% 0;
            span{
                font-size: 1.2rem;
                color: #8a8a8a;
                font-weight: 300;
                display: inline-block;
                padding: 0 1.5%;
                &:#{$type}(3){font-weight: 600;}
            }
        }
        .sns{
            @include absol(right,5%,top,0);
            width: 100%;
            padding: 2% 0;
            text-align: right;
            a{
                display: inline-block;
                width: 6%;
                padding: 0;
                img{width: 80%;}
            }
        }
    }
    p{
        text-align: center; 
        padding: 0.3% 0;}
    p:#{$type}(1){
        span{
            font-size: 0.8rem;
            color: #8a8a8a;
            font-weight: 400;
        }
    }
    p:#{$type}(2){
        a{
            font-size: 0.8rem;
            color: #8a8a8a;
            font-weight: 400;
        }
    }
    p:#{$type}(3){
        font-size: 0.8rem;
        color: #c4c4c4;
    }
    
    .family{
        padding: 2% 0;
        text-align: center;
        font-weight: 400;
        select{
            padding: 1% 6% 1% 2%;
            border: rgb(236, 236, 236);
            border-radius: 60px;
            background-color: rgb(236, 236, 236);
            background: url('../img/index/arrow_down.png') 90% center no-repeat;
            color: rgb(118, 118, 118);
            appearance: none;
            
        }
        select:focus{
            outline: none;
        }
    }
    
} //footer end





















}//mobile end
